.pm-about {
  .pm-status {
    border-top: 4px solid $brown;
    border-bottom: 4px solid $brown;
    @media (max-width: $small-max) {
      height: 520px;
    }
    .pm-inner {
      justify-content: center;
    }
  }
  .pm-about-main {
    @media (min-width: $large-min) {
      width: 90%;
      margin: 70px auto 100px;
    }
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      margin: 40px auto 60px;
    }
    @media (max-width: $small-max) {
      margin: 30px auto 60px;
    }
    p {
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      @media (min-width: $medium-min) {
        font-size: 20px;
      }
      @media (max-width: $small-max) {
        font-size: 14px;
      }
    }
    ul {
      list-style: disc;
      margin-bottom: 30px;
      li {
        margin-left: 20px;
        margin-bottom: 10px;
        font-weight: 300;
        @media (min-width: $medium-min) {
          font-size: 20px;
        }
        @media (max-width: $small-max) {
          font-size: 14px;
        }
      }
    }
  }
  .pm-hiw {
    @media (min-width: $large-min) {
      margin: 120px auto;
    }
    @media (max-width: $medium-max) {
      margin: 60px auto;
    }

    .pm-hiw-footnote {
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 1.6em;
      @media (min-width: $medium-min) {
        margin: 30px 10%;
      }
      @media (max-width: $small-max) {
        margin: 30px 0;
      }
    }
  }
  .pm-head {
    text-align: center;
    @media (min-width: $medium-min) {
      margin-bottom: 40px;
    }
  }
  .pm-section-head {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media (min-width: $medium-min) {
      font-size: 20px;
    }
    @media (max-width: $small-max) {
      font-size: 14px;
    }
  }
  .pm-label {
    text-align: center;
    margin-bottom: 30px;
  }
  .pm-button-block {
      margin: 30px 0 140px;
      @media (max-width: $small-max) {
        font-size: 14px;
      }
  }
}
