/* DESKTOP FOOTER */
.pm-hedgehog {
    max-width: 1200px;
    height: 55px;
    text-align: right;
    padding: 0 8% 0 0;
    margin: 0 auto;
}
.hedgehog-icon {
    height: 55px;
    width: 105px;
}
.pm-footer-top-rule {
    max-width: 100%;
    background-color: #563636;
    height: 10px;
}
.pm-footer-bottom-rule {
    max-width: 100%;
    background-color: #563636;
    height: 2px;
}
.pm-footer {
    background-color: #dba976;
    width: 100%;
    padding: 0;
    @media (min-width: $large-min) and (max-width: $large-max) {
      font-size: 14px;
    }
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      font-size: 12px;
    }
}
.pm-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.pm-footer-links {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 0 10px 0;
    width: 90%;
}
.pm-footer-links a {
    font-size: 3.125em;
    font-weight: 700;
    color: #563636;
    text-decoration: none;
    transition: all 0.3s ease;
}
.pm-footer-legal {
    max-width: 570px;
    margin: 0 auto;
    padding: 10px 0 30px 0;
}
.pm-footer-legal a {
    font-size: 20px;
    font-weight: 300;
    color: #563636;
    text-decoration: none;
}
.pm-footer-icons {
    background-color: #dba976;
    width: 100%;
    padding: 25px 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.pm-footer-icons ul {
    list-style-type: none;
}
.pm-footer-icons li {
    padding: 0 10px;
}
.pm-business-icons {
    display: inline-flex!important;
    max-width: 600px;
    padding: 25px 0;
}
.pm-social-icons {
    display: inline-flex!important;
    float: right;
    max-width: 600px;
    padding: 25px 0;
}

@media (max-width: $small-max) {
  .pm-hedgehog {
      max-width: 1200px;
      height: 40px;
      text-align: right;
      padding: 0 8% 0 0;
      margin: 15px auto 0 auto;
  }
  .hedgehog-icon {
      height: 40px;
      width: 75px;
  }
  .pm-footer-top-rule {
      max-width: 100%;
      background-color: #563636;
      border: 1px solid #563636;
      height: 2px;
  }
  .pm-footer {
      background-color: #dba976;
      width: 100%;
      padding: 0;
  }
  .pm-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .pm-footer-links {
      margin: 0 auto;
      padding: 35px 0 10px 0;
  }
  .pm-footer-links a {
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: #563636;
      text-decoration: none;
  }
  .pm-footer-legal {
      margin: 0 auto;
      padding: 10px 0 40px 0;
  }
  .pm-footer-legal a {
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      color: #563636;
      text-decoration: none;
  }
}

@media (max-width: 570px) {
  .pm-footer-icons ul {
      list-style-type: none;
      padding: 0;
  }
  .pm-business-icons {
      order: 1;
      display: inline-flex!important;
      justify-content: center;
      margin: 0 auto;
      padding: 7.5px 0 25px 0!important;
      width: 100%;
  }
  .pm-business-icons img {
      height: 27px;
  }
  .pm-social-icons {
      order: 0;
      display: inline-flex!important;
      justify-content: center;
      margin: 0 auto;
      padding: 25px 0 7.5px 0!important;
      width: 100%;
  }
  .pm-social-icons img {
      height: 30px;
  }
}
