/* DESKTOP HOW IT WORKS */
.pm-hiw {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
.pm-hiw-header {
    font-weight: 800;
    font-size: 20px;
    color: $pink;
    text-align: center;
    margin: 1em 0;
}
.pm-hiw-subhead {
    font-weight: 300;
    text-align: center;
    margin: 0 0 70px 0;

    &.pm-hiw-subhead-light {
      @media (min-width: $medium-min) {
        font-size: 20px;
        line-height: 2em;
      }
    }
    &:not(.pm-hiw-subhead-light) {
      @media (min-width: $medium-min) {
        font-size: 30px;
        line-height: 1.33em;
      }

    }
}
.pm-hiw-tiles {
    margin: 0 auto 75px auto;
    max-width: 1200px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.pm-hiw-tiles ul {
    text-align: center;
    background-color: #ffffff;
    @media (min-width: $medium-min) {
      max-width: 32.5%;
      min-width: 32.5%;
      &:not(:first-child) {
        border-left: 1px solid #cec2c0;
      }
    }
    @media (max-width: $small-max) {
      padding: 35px 0;
      &:not(:last-child) {
        border-bottom: 1px solid $brown;
      }
    }
}
.pm-hiw-icon {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 140px;
    background: #f26e6e;
    -moz-border-radius: 142px;
    -webkit-border-radius: 142px;
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.search-icon {
    margin-top: 42.5px;
    height: 55px;
    width: 60px;
}
.filter-icon {
    margin-top: 43.5px;
    height: 53px;
    width: 55px;
}
.hire-icon {
    margin-top: 41px;
    height: 58px;
    width: 45px;
}
.pm-hiw-action {
    margin: 35px 0 25px 0;
}
.pm-hiw-action a {
    font-size: 20px;
    font-weight: 800;
    color: #dba976;
    text-transform: uppercase;
    text-decoration: none;
}
.pm-hiw-description {
  width: 70%;
  margin: 0 auto;
  a {
    font-size: 18px;
    color: #563636;
    text-decoration: none;
  }
}

@media (max-width: $small-max) {
  .pm-hiw-header {
      font-weight: 800;
      font-size: 14px;
      color: #f26c6c;
      text-align: center;
  }
  .pm-hiw-subhead {
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      color: #563636;
      text-align: center;
      margin: 0 auto;
  }
  .pm-hiw-tiles {
      margin: 0 auto;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .pm-hiw-action {
      margin: 30px 0 15px 0;
  }
  .pm-hiw-action a {
      font-size: 14px;
      font-weight: 800;
      color: #dba976;
      text-transform: uppercase;
      text-decoration: none;
  }
  .pm-hiw-description a {
      font-size: 15px;
      color: #563636;
      text-decoration: none;
  }
}
