.pm-signup-message {
  @media (max-width: $small-max) {
    font-size: 12px;
  }
  .pm-button {
    color: #fff;
    @media (min-width: $medium-min) {
      padding: 20px 100px;
      margin-top: 100px;
    }
    @media (max-width: $small-max) {
      padding: 10px 20px;
      margin-top: 20px;
    }
  }
}
.pm-message-head {
  text-align: center;
  border-bottom: 1px solid $brown;
  &.pm-message-head-and-p {
    padding: 50px 0;
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      font-size: 14px;
    }
    @media (max-width: $small-max) {
      font-size: 12px;
    }
    h2 {
      font-size: 2.813em;
      margin-bottom: 10px;
    }
    p {
      font-size:1.250em;
      font-weight: 300;
      line-height: 1.5em;
    }
  }
  &:not(.pm-message-head-and-p) {
    font-size: 1.818em;
    font-weight: bold;

    p {
      max-width: 1200px;
      width: 90%;
      @media (min-width: $medium-min) {
        margin: 50px auto;
      }
      @media (max-width: $small-max) {
        margin: 30px auto;
      }
    }
  }
  .state-img {
    @media (min-width: $medium-min) {
      margin-bottom: 40px;
    }
    @media (max-width: $small-max) {
      margin-bottom: 20px;
    }
  }
}
.pm-message {
  max-width: 960px;
  text-align: center;
  @media (min-width: $medium-min) {
    margin: 120px auto;
    font-size: 20px;
    p {
      margin: 40px 0;
      line-height: 1.5em;
    }
  }
  @media (max-width: $small-max) {
    margin: 60px auto;
    font-size: 15px;
    p {
      margin: 10px 0;
      line-height: 1.67em;
    }
  }
}
.pm-message-more {
  text-transform: uppercase;
  line-height: 1.5em;
  strong {
    margin-right: 8px;
    @media (max-width: $small-max) {
      display: block;
    }
  }
  span, a {
    color: #f26e6e;
  }
  a {
    font-weight: 700;
  }
}
