.pm-messages {
  .pm-button {
    margin-top: 75px;
  }
}
.pm-inbox-message {
  margin-bottom: 20px;
  .pm-message-name {
    margin-bottom: 15px;
  }
  @media (min-width: $medium-min) {
    width: 70%;
  }
}
.pm-message-from {
  margin-left: auto;
  text-align: right;
  .pm-message-name {
    justify-content: flex-end;
  }
  .pm-message-content {
    background: $lt-pink-2;
  }
  .pm-featured-icon-xs {
    margin-left: 15px;
    order: 2;
  }
}
.pm-message-to {
  .pm-message-content {
    background: $lt-brown-2;
  }
  .pm-featured-icon-xs {
    margin-right: 15px;
  }
}
.pm-message-name {
  display: flex;
  align-items: center;
}
.pm-message-sender {
  font-size: 15px;
  h4 {
    font-weight: 400;
  }
  a {
    color: $pink;
  }
}
.pm-message-content {
  padding: 30px;
  color: $brown;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
}
.pm-inbox-item {
  border-bottom: 1px solid $brown;
  padding: 30px 0;
  .pm-subject {
    font-weight: 700;
    color: $lt-brown;
  }
}
.pm-message-subject {
  margin-right: 10px;
  * {
    font-size: 15px;
  }
  a {
    color: $pink;
    text-decoration: underline;
  }
}
.pm-inbox-item-inner {
  display: flex;
  @media (max-width: $small-max) {
    flex-wrap: wrap;
    align-items: center;
    .pm-message-subject {
      width: 100%;
    }
    .pm-message-sender {
      margin-bottom: 10px;
    }
  }
  @media (min-width: $medium-min) {
    align-items: center;
    .pm-message-sender {
      min-width: 220px;
      max-width: 220px;
      margin-right: 10px;
    }
    .pm-message-subject {
      flex-grow: 1;
    }
  }
  .pm-featured-icon-xs {
    margin-right: 15px;
  }
}
.pm-message-section {
  display: flex;
  @media (max-width: $small-max) {
    flex-direction: column;
  }
  @media (min-width: $medium-min) {
    width: 100%;
    align-items: center;
  }
}
.pm-message-status {
  font-size: 12px;
  color: $brown;
  min-width: 260px;
  max-width: 260px;
  line-height: 1.6em;
  @media (max-width: $small-max) {
    min-width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 30px;
    background: #f3f1f1;
  }
}
.pm-message-alert {
  display: flex;
  align-items: center;
  &:before {
    content: "!";
    min-width: 28px;
    height: 28px;
    border-radius: 28px;
    background: $pink;
    color: #fff;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
  }
  @media (max-width: $small-max) {
    flex-direction: column;
    &:before {
      margin-bottom: 5px;
    }
  }
}
.pm-send-message {
  .pm-label {
    span {
      @media (max-width: $small-max) {
        display: block;
        font-size: 15px;
      }
    }
  }
}
