.pm-search-filter {
  &.pm-search-filter-expand {
    .pm-search-fields {
      opacity: 1;
      visibility: visible;
    }
    .pm-search-filter-btn {
      &:after {
        content: "Close";
      }
    }
  }
  &:not(.pm-search-filter-expand) {
    .pm-search-filter-btn {
      &:after {
        content: "Filter";
      }
    }
  }
  .pm-form {
    margin: 0;
  }
}
.pm-search-filter-btn {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 140px;
  @media (min-width: $medium-min) {
    position: absolute;
    right: 0;
    top: -10px;
  }
  @media (max-width: $small-max) {
    width: 100%;
    margin-top: 15px;
  }
}
.pm-search-fields {
  position: absolute;
  right: 0;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 4.4px 0.7px rgba(0,0,0,0.06);
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  @media (min-width: $medium-min) {
    padding: 40px 30px;
  }
  @media (max-width: $small-max) {
    padding: 25px 20px;
    max-width: 100%;
  }
  fieldset {
    margin: 0;
    &:not(:first-child) {
      padding-top: 20px;
      border-top: 1px solid $brown;
    }
  }
  .pm-button-pk {
    display: block;
    padding: 10px 0;
  }
}
.pm-search-label {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
