.pm-settings {
  form {
    font-size: 18px;
    >  .pm-label.pm-form-label {
      margin-bottom: 70px;
    }
  }
  .pm-add-email.pm-label {
    display: block;
    margin-top: 30px;
  }
  .pm-change-pwd {
    display: flex;
    justify-content: space-between;
    a {
      text-transform: none;
      font-weight: bold;
    }
  }
  .pm-button-std {
    background: $brown;
    width: 175px;
    padding: 8px 0;
  }
  .pm-email-cols {
    position: relative;
    li {
      display: inline-block;
    }
    .pm-cancel {
      position: absolute;
    }
    @media (min-width: $medium-min) {
      display: grid;
      grid-template-columns: 2fr 1fr minmax(200px, 1fr);
      >*:nth-child(1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      >*:nth-child(1n+2) {
        text-align: center;
      }
      .pm-email-col-item {
        > strong {
          display: none;
        }
      }
      .pm-cancel {
        right: 8px;
      }
      li {
        margin: 0 5px;
      }
    }
    @media (max-width: $small-max) {
      &.pm-email-labels {
        display: none;
      }
      .pm-email-col-2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        > *:nth-child(2) {
          justify-self: end;
          align-self: center;
        }
      }
      .pm-account-email {
        background: $lt-brown-2;
        padding: 10px 16px;
        margin-top: 10px;
      }
      .pm-cancel {
        top: -5px;
        right: 0;
      }
    }
  }
  /*.pm-email-cols {
    display: flex;
    margin-bottom: 30px;
    >*:nth-child(1) {
      flex-grow: 1;
    }
    >*:nth-child(2) {
      min-width: 180px;
      text-align: center;
    }
    >*:nth-child(3) {
      min-width: 210px;
      text-align: center;
    }
    .pm-label {
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }*/
  .pm-email-cols-bg {
    align-items: center;
    @media (min-width: $large-mid + 1) {
      padding: 10px 0 10px 30px;
    }
    @media (min-width: $medium-min) and (max-width: $large-mid) {
      padding: 10px 0 10px 10px;
    }
    @media (min-width: $medium-min) {
      &:nth-child(even) {
        background: $lt-brown-2;
      }
      &:nth-child(odd) {
        background: rgba($lt-brown-2, 0.4);
      }
    }
    @media (max-width: $small-max) {
      &:not(:last-of-type) {
        border-bottom: 1px solid $brown;
        margin-bottom: 30px;
      }
    }
  }
  .pm-notification-options {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      input[type="checkbox"] {
        margin-right: 20px;
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
  p {
    &.pm-ind-text {
      @media (max-width: $small-max) {
        font-size: 14px;
      }
    }
    a {
      color: $pink;
      text-decoration: underline;
    }
  }
}

.pm-settings-nav {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  @media (min-width: $large-mid + 1) {
    padding: 30px 60px;
    min-width: 320px;
  }
  @media (min-width: $medium-mid + 1) and (max-width: $large-mid) {
    padding: 30px;
    min-width: 220px;
  }
  @media (min-width: $medium-mid + 1) {
    box-sizing: border-box;
    margin-right: 60px;
    li {
      text-transform: uppercase;
      font-weight: 600;
      &:not(:last-child) {
        border-bottom: 1px solid $brown;
      }
      &.active {
        a {
          color: $pink;
        }
      }
      a {
        display: block;
        color: $brown;
        padding: 20px 0;
        line-height: 1em;
      }
    }
  }
  @media (max-width: $medium-mid) {
    width: 100%;
    padding: 20px 10%;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 30px;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      text-indent: -9999px;
      a {
        display: block;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.profile {
        a {
          background-image: url(../images/icons/profile.svg);
        }
      }
      &.account {
        a {
          background-image: url(../images/icons/key.svg);
        }
      }
      &.notifications {
        a {
          background-image: url(../images/icons/notifications.svg);
        }
      }
      &.payments {
        a {
          background-image: url(../images/icons/payment.svg);
        }
      }
      &.active {
        &.profile {
          a {
            background-image: url(../images/icons/profile-active.svg);
          }
        }
        &.account {
          a {
            background-image: url(../images/icons/key-active.svg);
          }
        }
        &.notifications {
          a {
            background-image: url(../images/icons/notifications-active.svg);
          }
        }
        &.payments {
          a {
            background-image: url(../images/icons/payment-active.svg);
          }
        }
      }
    }
  }
  @media (max-width: $small-max) {
    margin-bottom: 20px;
  }
}

.pm-settings-text {
  p {
    line-height: 2em;
    margin-bottom: 40px;
    @media (min-width: $medium-min) {
      font-size: 18px;
    }
    @media (max-width: $small-max) {
      font-size: 14px;
    }
  }
}
