.pm-status {
  &.pm-status-no-text {
    @media (max-width: $small-max) {
      height: 15px;
    }
    @media (min-width: $medium-min) {
      margin-bottom: 30px;
      height: 50px;
    }
  }
  @media (max-width: $small-max) {
    height: 160px;
    font-size: 11px;
    text-align: center;
  }
  @media (min-width: $medium-min) {
    height: 240px;
  }
  &.pm-status-bg {
    background-color: #f8eae3;
    .pm-inner {
      background-position: bottom right;
      background-repeat: no-repeat;
    }
  }
  &.pm-status-plain {
    background: #f26f6e;
    color: #fff;
  }
  &.pm-status-light {
    font-weight: 300;
  }
  &.pm-status-compact-bg {
    .pm-inner {
      background-size: 40%;
    }
  }
  &.pm-status-tall {
    @media (min-width: $large-min) {
      height: 515px;
    }
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      font-size: 14px;
      height: 480px;
    }
    @media (max-width: $small-max) {
      font-size: 12px;
      height: 420px;
    }
    &:not(.pm-status-compact-bg) {
      .pm-inner {
        @media (min-width: $medium-min) and (max-width: $medium-max) {
          background-size: 80%;
        }
        @media (max-width: $small-max) {
          background-size: 90%;
        }
      }
    }
    &.pm-status-compact-bg {
      .pm-inner {
        @media (min-width: $medium-min) and (max-width: $medium-mid) {
          background-size: 55%;
        }
        @media (max-width: $small-max) {
          background-size: 90%;
        }
      }
    }
    .pm-inner {
      background-position: bottom center;
      flex-direction: column;
      text-align: center;
      justify-content: flex-start;
      p {
        line-height: 1em;
        @media (max-width: $small-max) {
          margin: 40px 0 20px;
        }
        @media (min-width: $medium-min) {
          margin: 60px 0 20px;
        }
      }
      small {
        line-height: 1.5em;
        @media (max-width: $small-max) {
          width: 80%;
        }
        @media (min-width: $medium-min) {
          span {
            display: block;
          }
        }
      }
    }
  }
  p {
    font-size: 4.188em;
    &:not(.light) {
      font-weight: bold;
    }
    &.light {
      font-weight: 300;
    }
  }
  .pm-sublabel {
    display: block;
    font-size: 0.269em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 10px;
  }
  .pm-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    small {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}
.pm-pig {
  background-image: url(../images/pig.png);
}
.pm-dog {
  background-image: url(../images/hero-dog.png);
}
.pm-cat {
    background-image: url(../images/hero-animal-bg-2.jpg);
}
