//breakpoints
$small-max: 767px;
$medium-min: 768px;
$medium-mid: 960px;
$medium-max: 1024px;
$large-min: 1025px;
$large-mid: 1199px;
$large-max: 1440px;
$xlarge-min: 1441px;

//colors
$pink: #f26e6e;
$brown: #563636;
$lt-pink: #f8eae3;
$lt-pink-2: #fddfd8;
$lt-brown: #dba976;
$lt-brown-2: #f5e9dc;
$gray: #cec2c0;
