
.pm-vendors-background {
    @media (max-width: $small-max) {
      background: -webkit-linear-gradient(top, #563636 14%, #ffffff 14%);
    }
    @media (min-width: $medium-min) {
      background: -webkit-linear-gradient(top, #f8eae3 58%, #563636 58%, #563636 60%, #ffffff 60%);
    }
}
.pm-vendors {
    width: 90%;
    display:flex;
    flex-wrap:wrap;
    @media (max-width: $small-max) {
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: $medium-min) {
      margin: 0 auto 75px auto;
      max-width: 1200px;
      justify-content:space-between;
    }
}
.pm-vendors-header {
    margin: 0 auto 15px auto;
    max-width: 1200px;
    background-color: #f8eae3;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    color: #f26c6c;
    text-align: center;
}
.pm-vendors ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 4.4px 0.7px rgba(0, 0, 0, 0.06);
    max-width: 32.5%;
    min-width: 32.5%;
    margin: 1em 0;
}
.pm-featured-name a {
    font-size: 15px;
    font-weight: 800;
    line-height: 38px;
    color: #f26c6d;
    text-transform: uppercase;
    text-decoration: none;
}
.pm-featured-tagline {
    max-width: 80%;
    @media (max-width: $small-max) {
      margin: 0 auto 9px auto;
      height: 40px;
    }
    @media (min-width: $medium-min) {
      margin: 0 auto 12px auto;
      height: 52px;
    }
}
.pm-featured-tagline a {
    font-weight: 300;
    color: #563636;
    text-decoration: none;
    @media (max-width: $small-max) {
      font-size: 16px;
    }
    @media (min-width: $medium-min) {
      font-size: 20px;
    }
}
.pm-featured-hearticon img {
    padding: 0 3px;
    margin: 12px 0 22.5px 0;
}
.pm-featured-button {
    color: #ffffff;
    background-color: #563636;
    font-weight: 800;
    font-size: 15px;
    width: 185px;
    text-decoration: none;
    margin: 22.5px auto 70px auto;
    padding: 10px 0;
}
.pm-featured-icon {
    margin-bottom: 20px;
    width: 179px;
    height: 179px;
    border: 4px solid $brown;
    border-radius: 179px;
    margin: 50px auto 30px auto;
    overflow: hidden;
    img {
      width: 106%;
      margin-left: -3%;
      margin-top: -3%;
    }
}
.pm-featured-icon-xs {
  width: 60px;
  height: 60px;
  min-width: 60px;
  max-height: 60px;
  border: 2px solid $brown;
  border-radius: 60px;
  overflow: hidden;
  img {
    width: 102%;
    margin-left: -1%;
    margin-top: -1%;
  }
}
.pm-featured-hr {
    display: none;
}

.pm-vendor-list {
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $gray;
  padding-top: 40px;
  @media (min-width: $medium-min) {
    padding-bottom: 100px;
  }
  @media (max-width: $small-max) {
    padding-bottom: 60px;
  }
  .pm-vendors {
    margin-bottom: 40px;
    width: 100%;
    @media (min-width: $large-mid + 1) {
      ul {
        max-width: calc( 25% - 20px);
        min-width: calc( 25% - 20px);
      }
    }
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      ul {
        max-width: calc( 50% - 4px);
        min-width: calc( 50% - 4px);
      }
    }
    @media (max-width: $small-max) {
      ul {
        max-width: 100%;
        min-width: 100%;
      }
    }
    .pm-featured-icon {
      &:not(.pm-featured-icon-sm) {
        width: 149px;
        height: 149px;
      }
      &.pm-featured-icon-sm {
        width: 124px;
        height: 124px;
      }
        margin: 40px auto 25px auto;
    }
    .pm-featured-button {
      margin-bottom: 40px;
    }
    .pm-featured-name {
      a {
        font-size: 12px;
      }
    }
    .pm-featured-tagline {
      a {
        font-size: 15px;
        line-height: 1.6em;
      }
    }
    .pm-featured-hearticon {
      img {
        margin: 0;
      }
    }
  }
  .pm-link {
    margin-top: 40px;
  }
}
.pm-vendor-empty {
  text-align: center;
  @media (min-width: $medium-min) {
    margin-top: 40px;
  }
  @media (max-width: $small-max) {
    font-size: 12px;
    h4,
    strong {
      width: 80%;
      margin: 0 auto 5px;
    }
  }
  h4 {
    font-size: 1.750em;
    font-weight: 300;
    text-transform: uppercase;
  }
  strong {
    display: block;
    font-size: 1.750em;
  }
  .pm-button {
    font-size: 15px;
    padding: 15px 30px;
    margin-top: 30px;
  }
}

@media (max-width: $small-max) {

  .pm-vendors-header {
      max-width: 1200px;
      padding: 35px 0 0 0;
      background-color: #563636;
      font-weight: 800;
      font-size: 14px;
      line-height: 38px;
      color: #f26c6d;
      text-align: center;
  }
  .pm-vendors ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      background-color: #ffffff;
      box-shadow: 0 0 4.4px 0.7px rgba(0, 0, 0, 0.06);
      max-width: 310px;
  }
  .pm-featured-name a {
      font-size: 12px;
      font-weight: 800;
      line-height: 30px;
      color: #f26c6d;
      text-transform: uppercase;
      text-decoration: none;
  }
  .pm-featured-hearticon img {
      padding: 0 3px;
      margin: 9px 0 18px 0;
  }
  .pm-featured-button {
      color: #ffffff;
      background-color: #563636;
      font-weight: 800;
      font-size: 12px;
      width: 150px;
      text-decoration: none;
      margin: 18px auto 55px auto;
      padding: 10px 0;
  }
  .pm-featured-icon {
      width: 149px;
      height: 149px;
      margin: 50px auto 25px auto;
  }
  .pm-featured-hr {
      display: inline;
      width: 99%;
      margin: 70px 0 90px 0;
      background-color: #563636;
      border: 1px solid #563636;
  }
}
